- name: Install nodejs and npm
  become_user: root
  apt:
    name: ["nodejs", "npm"]
  tags:
    - install
    - terminal
    - node
    - nvim
    - neovim

- name: Set Global npm directory
  shell: |
    mkdir {{ lookup('env', 'HOME') }}/.local/.npm-global
    npm config set prefix '{{ lookup('env', 'HOME') }}/.local/.npm-global'
    echo 'export PATH=$PATH:{{ lookup('env', 'HOME') }}/.local/.npm-global' >> {{ lookup('env', 'HOME') }}/.zprofile
  tags:
    - install
    - terminal
    - node
    - nvim
    - neovim

- name: Install N
  npm:
    name: n
    global: yes
  tags:
    - install
    - terminal
    - node
    - nvim
    - neovim

- name: Install correct version of Node
  shell: |
    export N_PREFIX={{ lookup('env', 'HOME') }}/.local/.n
    sudo {{ lookup('env', 'HOME') }}/.local/.npm-global/bin/n 14
  tags:
    - install
    - terminal
    - node
    - nvim
    - neovim

- name: Install yarn
  shell: |
    curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
    echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
    sudo apt install yarn
  tags:
    - install
    - terminal
    - node
    - nvim
    - neovim

