- name: Clone Neovim
  ansible.builtin.git:
    repo: "https://github.com/neovim/neovim.git"
    dest: "{{ lookup('env', 'HOME') }}/neovim"
    update: no
  tags:
    - install
    - terminal
    - neovim
    - nvim

- name: Build neovim
  shell: "cd {{ lookup('env', 'HOME') }}/neovim && make"
  tags:
    - install
    - terminal
    - neovim
    - nvim
- name: Install neovim
  shell: "cd {{ lookup('env', 'HOME') }}/neovim && sudo make install"
  tags:
    - install
    - terminal
    - neovim
    - nvim

- name: Neovim Plugin Development 1
  become_user: root
  apt: name=luarocks
  tags:
    - install
    - terminal
    - neovim
    - nvim

- name: Neovim Plugin Development 2 luacheck
  shell: luarocks install luacheck
  become_user: root
  tags:
    - install
    - terminal
    - neovim
    - nvim

- name: Install Vim-Plug
  shell: curl -fLo {{ lookup('env', 'HOME') }}/.local/share/nvim/site/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
  tags:
    - install
    - terminal
    - dotfiles
    - plugged
    - neovim
    - nvim

- name: Install vim Plugins
  ignore_errors: no
  shell: nvim +silent! +PlugInstall! +qall!
  tags:
    - install
    - terminal
    - dotfiles
    - neovim
    - nvim

- name: Setup python-lsp-server
  shell: pipx install 'python-lsp-server[all]' --force
  tags:
    - install
    - terminal
    - dotfiles
    - neovim
    - nvim
    - python-lsp

- name: Setup pylsp-mypy
  shell: pipx inject python-lsp-server pylsp-mypy --force
  tags:
    - install
    - terminal
    - dotfiles
    - neovim
    - nvim
    - python-lsp

- name: Setup jedi-language-server
  shell: pipx install jedi-language-server --force
  tags:
    - install
    - terminal
    - dotfiles
    - neovim
    - nvim
    - python-lsp

- name: Setup yaml language server
  npm: 
    name: yaml-language-server@latest
    global: yes
  tags:
    - install
    - terminal
    - dotfiles
    - neovim
    - nvim
    - yaml-lsp

- name: Setup eslint language server
  npm: 
    name: eslint-language-server@latest
    global: yes
  tags:
    - install
    - terminal
    - dotfiles
    - neovim
    - nvim
    - yaml-lsp

- name: Setup typescript language server
  npm: 
    name: typescript-language-server@latest
    global: yes
  tags:
    - install
    - terminal
    - dotfiles
    - neovim
    - nvim
    - yaml-lsp

- name: Setup html language server
  npm: 
    name: vscode-langservers-extracted
    global: yes
  tags:
    - install
    - terminal
    - dotfiles
    - neovim
    - nvim
    - html-lsp

- name: Install yarn
  npm: 
    name: yarn
    global: yes
  tags:
    - install
    - terminal
    - dotfiles
    - neovim
    - nvim
    - yarn

- name: Setup html language server
  npm: 
    name: vscode-json-languageserver
    global: yes
  tags:
    - install
    - terminal
    - dotfiles
    - neovim
    - nvim
    - html-lsp
